
body{
    width:  100%;
    height: 100%;

}

.rs{
    width: 100px;
    height: 60px;
    float: right;
    margin: 8px 10px 8px 10px;
}

#Toshiba-logo{
    width: 100%;
    height: 200px;
    margin-top: 10px;
        
}

.menu{
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 10px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    margin: 2px;
    padding: 0;
    float: left;

}

.menu ul li a{
    display: block; 
    width: 120px;
    padding: 4px 0;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    background-color: #000;
    
}

.menu ul li a:hover{
    background-color: #003366;

}

.sub-menu a{
    padding: 20px;
    
}

.sub-menu li{
    display: none;
}

#sub-menu-inicio:hover .sub-menu{
    display: block;
}

#sub-menu-inicio:hover .sub-menu li{
    display: block;
    float: none;
}

#sub-menu-categoria:hover .sub-menu{
    display: block;
}

#sub-menu-categoria:hover .sub-menu li{
    display: block;
    float: none;
}



li{
    float: left;
    padding-right: 15px;
}



section{
    width: 100%;
    /*para que se alinea en vertical*/
    display: flex;
    /*para que se separen dejando un espacio igual entre los contenidos*/
    justify-content: space-around;
    padding-bottom: 50px ;
    
}

article{
    position: relative;
    
}

#Productos-tv{
    background-image: url(../imagenes/television.jpg);
    /*para que se centre la imagen*/
    background-position:  center   ;
    /*para que no se repita la imagen*/
    background-repeat: no-repeat;
    /*para que tome el borde completo - cover = cubrir todo*/
    background-size: 100% 90%;
    width: 360px;
    height: 250px;
    
}

#portatil-tables{
    background-image: url(../imagenes/tablet-portatil.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    width: 360px;
    height: 250px;

}

#discos-duros{
    background-image: url(../imagenes/discodurostoshiba.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    width: 360px;
    height: 250px;
}

#equipos-multifunciones{
    background-image: url(../imagenes/equipomultifunciones.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    width: 360px;
    height: 250px;

}

#Toshiba-lighting{
    background-image: url(../imagenes/toshibafocos.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    width: 360px;
    height: 250px;

}

#accesorios{
    background-image: url(../imagenes/accesorios.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    width: 360px;
    height: 250px;
}

.subtitulos{
    color: rgb(10, 10, 10);
    background-color: rgba(221, 219, 219, 0.5);
    margin: 0%;
}

article a{
    color: black;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: rgba(226, 225, 224,50%);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

footer p{
    text-align: center;
}
